[Unit]
Description=Start a server for sox_web

[Service]
Type=simple
Restart=on-failure
RemainAfterExit=no
ExecStart=/bin/bash -c '/usr/bin/node /home/fmarotta/sox_web/server.js &>> /home/fmarotta/sox_web/log/server.log'

[Install]
WantedBy=multi-user.target
